<?xml version="1.0"?>
<robot name="gokart" xmlns:xacro="http://ros.org/wiki/xacro">

  <joint name="body_frame_joint" type="fixed">
    <parent link="base_link" />
    <child link="body_frame_link" />
    <origin xyz="${body_frame_x_offset} 0.0 0.0" rpy="0 0 0" />
  </joint>

  <link name="body_frame_link">
    <visual>
      <origin xyz="${-body_frame_x_offset} 0 -0.015" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find roar-urdf)/meshes/gokart/BodyV1.stl" />
      </geometry>
      <material name="Blue">
        <color rgba="0.0 0.0 1.0 1.0" />
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="${base_length} ${base_width-steering_hinge_offset-0.15} ${base_height}" />
      </geometry>
    </collision>

    <xacro:box_inertia m="${body_mass}" w="${base_width}" d="${base_length-steering_hinge_offset}" h="${base_height}" />
  </link>

  <gazebo reference="body_frame_link">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
