[submodule "src/simulation"]
	path = src/simulation
	url = git@gitlab.com:wuxiaohua1011/roar-indy-sim.git
[submodule "src/hardware"]
	path = src/hardware
	url = git@gitlab.com:wuxiaohua1011/roar-indy-hardware.git
