[submodule "src/simulation"]
	path = src/simulation
	url = https://gitlab.com/wuxiaohua1011/roar-indy-sim
[submodule "src/hardware"]
	path = src/hardware
	url = https://gitlab.com/wuxiaohua1011/roar-indy-hardware
[submodule "src/agent"]
	path = src/agent
	url = https://gitlab.com/wuxiaohua1011/roar-indy-agent
