src/misc/roar_manual_control/roar_manual_control/__pycache__/__init__.cpython-38.pyc
src/misc/roar_manual_control/roar_manual_control/__pycache__/roar_manual_controller_node.cpython-38.pyc
src/misc/waypoint_recorder/waypoint_recorder/__pycache__/__init__.cpython-38.pyc
src/misc/waypoint_recorder/waypoint_recorder/__pycache__/record_waypoint_to_txt_node.cpython-38.pyc
