<?xml version="1.0"?>
<robot name="gokart" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_inertias.urdf" />

  <!-- Define the size of the robot's main chassis in meters -->
  <xacro:property name="base_width" value="0.95" />
  <xacro:property name="base_length" value="1.05" />
  <xacro:property name="base_height" value="0.015" />
  <xacro:property name="body_frame_x_offset" value="0.525" />
  <xacro:property name="body_mass" value="72.5" /> <!-- kg -->

  

  <!-- Define the shape of the car's wheel in meters -->
  <xacro:property name="wheel_radius" value="0.1397" />
  <xacro:property name="wheel_width" value="0.09525" /> <!-- 0.1905 -->
  <xacro:property name="wheel_base" value="1.0" /> <!-- 0.1905 -->


  <!-- Define distance from the wheel to the steering hinge  -->
  <xacro:property name="steering_hinge_offset" value="0.02" />

  <!-- Define height of the sensor platform measuring from the base_link -->
  <xacro:property name="sensor_platform_height" value="0.5" />
  <xacro:property name="front_lidar_forward_offset" value="0.045"/>
  <xacro:property name="side_lidar_offset" value="0.12"/>


  <xacro:property name="zed_width" value="0.032"/>
  <xacro:property name="zed_length" value="0.175"/>
  <xacro:property name="zed_height" value="0.03"/>

  <xacro:property name="lidar_width" value="0.077"/>
  <xacro:property name="lidar_length" value="0.116"/>
  <xacro:property name="lidar_height" value="0.090"/>

  <xacro:property name="camera_width" value="0.029"/>
  <xacro:property name="camera_length" value="0.097"/>
  <xacro:property name="camera_height" value="0.030"/>
 
  <!-- gps with respect to base_link --> 
  <xacro:property name="rear_gps_x" value="0.0"/>
  <xacro:property name="rear_gps_y" value="0.0"/>
  <xacro:property name="rear_gps_z" value="0.3"/>
  <xacro:property name="front_gps_x" value="${wheel_base/2}"/>
  <xacro:property name="front_gps_y" value="0.0"/>
  <xacro:property name="front_gps_z" value="0.3"/>

  <!-- computer dimensions with respect to base_link -->
  <xacro:property name="computer_x" value="${body_frame_x_offset}"/>
  <xacro:property name="computer_y" value="0.0"/>
  <xacro:property name="computer_z" value="0.1"/>
  <xacro:property name="computer_mass" value="14.515"/> <!--kg-->
  <xacro:property name="computer_width" value="0.216"/>
  <xacro:property name="computer_height" value="0.45"/>
  <xacro:property name="computer_depth" value="0.47"/>

  <link name="base_link"></link>
  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_body_frame.urdf" />
  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_wheels.urdf" />
  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_perceptions.urdf" />

  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_ackermann.urdf" />
  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_gnss.urdf" />
  <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_compute_units.urdf" />

  <!-- <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_imu.urdf" /> -->
  <!-- <xacro:include filename="$(find roar-gokart-urdf)/src/gokart/_camera.urdf" /> -->

</robot>
